.form {
  display: flex;
  flex-direction: column;

  &-fieldsize {
    font-family: "Roboto", sans-serif;
    border-radius: 8px;
    background-color: $form-fields-color;
    margin-bottom: 16px;
    padding: 14px 17px;
    border: 2px solid transparent;
    resize: none;

    &:hover {
      border: 2px solid #ccd0e0;
    }

    &:focus {
      border: 2px solid $main-color;
    }
  }

  &__textarea {
    margin-bottom: 32px;
  }

  &__btn {
    background: $main-color;
    color: $white;
    cursor: pointer;
  }

  @include tablet {
    &-fieldsize {
      max-width: 380px;
    }
  }

  @media (min-width: 900px) {
    &-fieldsize {
      width: 420px;
    }
  }
}
